**/.DS_STORE
**/joplin-desktop
**/coc-java-data
**/coc-tabnine-data
**/*.json
*.txt
**/node_modules

coc/extensions/coc-tabnine-data/binaries/4.4.136/aarch64-apple-darwin
coc/extensions/coc-tabnine-data/binaries/4.4.137/aarch64-apple-darwin
coc/extensions/coc-tabnine-data/binaries/.active
coc/extensions/node_modules/coc-tsserver/node_modules
coc/extensions/node_modules/coc-tsserver/package-lock.json
coc/extensions/node_modules/coc-tsserver/package.json
coc/extensions/db.json
joplin-desktop/database.sqlite
joplin-desktop/log.txt
powershell/Modules/PSFzf/2.4.0/en-US
powershell/Modules/PSFzf/2.4.0/helpers
powershell/Modules/PSFzf/2.4.0